MONGOURI='MONGOURI'
SECRET_KEY='SECRET_KEY'
GOOGLE_CLIENTID='GOOGLE_CLIENTID'
GOOGLE_CLIENT_SECRET='GOOGLE_CLIENT_SECRET'
SALT='SALT'
EMAIL='EMAIL'
EMAIL_PASSWORD='EMAIL_PASSWORD'
CALLBACKURL='CALLBACK_LINK'
PROFILELINK='PROFILE_LINK'
REDIRECT_DASHBOARD='DASHBOARD_LINK'