GOOGLE_API_KEY='GOOGLE_API_KEY'
MONGOURI='MONGOURI'
DBNAME="DBNAME"
BHUVAN_ACCESS_TOKEN="BHUVAN_ACCESS_TOKEN"
LANGSMITH_TRACING="BOOL"
LANGSMITH_ENDPOINT="API_ENDPOINT"
LANGSMITH_API_KEY="API_KEY"
LANGSMITH_PROJECT="API_PROJECT"